@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', system-ui, sans-serif; /* Cambiamos la fuente a Poppins */
  }
  /* Ya no necesitamos el bloque @font-face ya que estamos utilizando la fuente desde Google Fonts */
}